Source: stunnel4
Section: net
Priority: optional
Build-Depends: debhelper (>=9), libssl-dev (>= 0.9.8),
 openssl (>= 0.9.8), libwrap0-dev, sdf, dh-autoreconf
Maintainer: Peter Pentchev <roam@ringlet.net>
Standards-Version: 3.9.5
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/stunnel.git
Vcs-Git: git://anonscm.debian.org/collab-maint/stunnel.git
Homepage: http://www.stunnel.org/

Package: stunnel4
Architecture: any
Breaks: stunnel (<< 3:4.20-3)
Provides: stunnel
Replaces: stunnel
Depends: ${shlibs:Depends}, ${misc:Depends}, openssl, netbase, perl-modules
Pre-Depends: ${misc:Pre-Depends}, adduser
Suggests: logcheck-database
Description: Universal SSL tunnel for network daemons
 The stunnel program is designed to work  as  SSL  encryption
 wrapper between remote client and local (inetd-startable) or
 remote server. The concept is that having non-SSL aware daemons
 running  on  your  system you can easily setup them to
 communicate with clients over secure SSL channel.
 .
 stunnel can be used to add  SSL  functionality  to  commonly
 used  inetd  daemons  like  POP-2,  POP-3  and  IMAP servers
 without any changes in the programs' code.
 .
 This package contains a wrapper script for compatibility with stunnel 3.x
