#!/usr/bin/make -f
#                                                       -*- makefile -*-
# debian/rules file for the Debian/GNU Linux stunnel package
# Copyright 2003 by Julien LEMOINE <speedblue@debian.org>

include /usr/share/quilt/quilt.make

DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
PROXY_CONNECT	     = debian/connect-proxy_dunbar.patch
CFLAGS 		     = -Wall -g
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
  CFLAGS += -O0
else
  CFLAGS += -O2
endif

build: patch build-stamp
build-stamp:
	dh_testdir

	CFLAGS="$(CFLAGS)" ./configure --prefix=/usr 			\
	  --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE)	\
	  --localstatedir=/var --enable-ssllib-cs 			\
	  --with-cert-dir=/etc/ssl/certs --with-pem-dir=/etc/ssl/certs	\
	  --enable-ipv6 --with-threads=pthread
	cd src; $(MAKE)
	cd doc; $(MAKE)
	touch build-stamp

clean: clean-patched unpatch
clean-patched:
	dh_testdir
	dh_testroot

	[ ! -f Makefile ] || $(MAKE) distclean

	dh_clean build-stamp doc/stunnel4.8

install: build-stamp
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	cd src; $(MAKE) install prefix=$(CURDIR)/debian/stunnel4/usr
	cd doc; $(MAKE) install prefix=$(CURDIR)/debian/stunnel4/usr

	ln doc/stunnel.8 doc/stunnel4.8

	# Manpages will be installed by dh_installman
	rm -rf $(CURDIR)/debian/stunnel4/man
	rm -rf $(CURDIR)/debian/stunnel4/usr/man

	install -p -m 0644 tools/stunnel.conf-sample 			\
	  $(CURDIR)/debian/stunnel4/etc/stunnel/stunnel.conf

	# mv executables into /usr/bin, with propper names
	mv $(CURDIR)/debian/stunnel4/usr/sbin/stunnel 			\
	  $(CURDIR)/debian/stunnel4/usr/bin/stunnel4
	mv $(CURDIR)/debian/stunnel4/usr/sbin/stunnel3			\
	  $(CURDIR)/debian/stunnel4/usr/bin/stunnel3

	# Move docs into propper dir
	mv $(CURDIR)/debian/stunnel4/usr/share/doc/stunnel		\
	  $(CURDIR)/debian/stunnel4/usr/share/doc/stunnel4

	install -p -m 0644 $(CURDIR)/debian/lintian.overrides		\
	  $(CURDIR)/debian/stunnel4/usr/share/lintian/overrides/stunnel4

binary-indep:
#Nothing to do here

binary-arch: install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_installchangelogs ChangeLog
	dh_installinit -- defaults
	dh_installppp --name=0stunnel4
	dh_installlogrotate
	dh_link
	dh_strip
	dh_compress --exclude=StunnelConf-0.1.pl
	dh_fixperms
	dh_makeshlibs -l debian/stunnel4/usr/lib
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
